<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
<!--      <ion-icon aria-hidden="true" name="triangle"></ion-icon>-->
      <lord-icon
        src="https://cdn.lordicon.com/zeabctil.json"
        trigger="hover"
        colors="outline:#121331,primary:#16c72e,secondary:#021639"
        style="width:50px;height:50px">
      </lord-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
<!--      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>-->
      <lord-icon
        src="https://cdn.lordicon.com/ejnrjovh.json"
        trigger="hover"
        colors="outline:#121331,primary:#16c72e,secondary:#a7b7d6"
        style="width:50px;height:50px">
      </lord-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trends">
<!--      <ion-icon aria-hidden="true" name="square"></ion-icon>-->
      <lord-icon
        src="https://cdn.lordicon.com/bewubbww.json"
        trigger="hover"
        colors="primary:#16c72e"
        state="hover"
        style="width:50px;height:50px">
      </lord-icon>
      <ion-label>Trends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saves">
<!--      <ion-icon aria-hidden="true" name="heart"></ion-icon>-->
      <lord-icon
        src="https://cdn.lordicon.com/snnvmbic.json"
        trigger="morph"
        colors="outline:#16c72e,primary:#16c72e,secondary:#021639"
        style="width:50px;height:50px">
      </lord-icon>
      <ion-label>Saves</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
