<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trends">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Trends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saves">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Saves</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
