<ion-header>
  <ion-toolbar>
    <ion-title>Saves</ion-title>
    <ion-buttons slot="end" (click)="logoutService.handleLogout()">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-card *ngIf="saves.length === 0">
      <ion-card-header>
        <ion-card-title>No articles or posts found...</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Your save is empty...
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let article of saves; let i = index;">
      <img
        alt="Silhouette of mountains"
        [src]="article.image" height="200px" width="500px"/>
      <div>
        <ion-card-header>
          <ion-card-title>{{article.title}}</ion-card-title>
          <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div>{{article.description}}</div>
          <a [href]="article.url" target="_blank">Read More...</a>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
