<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="register-box">

    <div class="err" *ngIf="error !== ''">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Validation</ion-card-title>
          <ion-card-subtitle>Registration Error</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{error}}
        </ion-card-content>
      </ion-card>
    </div>

    <form #itemForm="ngForm" method="post" (ngSubmit)="handleRegister($event)">
      <!-- <div class="user-box">
        <input [(ngModel)]="user.username" type="text" name="username" required>
        <label>Username</label>
      </div> -->
      <div class="user-box">
        <input [(ngModel)]="user.email" type="email" name="email" required>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input [(ngModel)]="user.password" type="password" name="password" required>
        <label>Password</label>
      </div>
      
      <button id="submit-btn" type="submit">
             Sign up
         <span></span>
      </button>

    </form>

    <div class="option">
      <span>Already have an account ?</span>
      <a routerLink="/login">Sign in</a>
    </div>

    <div class="separator">
      <hr class="line">
      <span>Or</span>
      <hr class="line">
    </div>

    <button (click)="signInWithGoogle()" title="Sign In" type="submit" class="sign-in_ggl">
      <div class="google-icon-wrapper">
        <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="25" height="25"/>
      </div>
      <span>Sign In with Google</span>
    </button>

  </div>
</ion-content>


